html, body, #app {
    float: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}
#header {
    width: 100%;
    height: 12.5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#container {
    margin-top: 12.5em;
    width: 100%;
    height: calc(100% - 12.5em);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
#navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 8em;
    padding-top: 1em;
}

.page-navigation-element .pne-bubble {
    width: 2em;
    height: 2em;
    border: 0 solid black;
    border-radius: 4em;
    margin: 2em 2.5em 2.5em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.26);
    transition: all .3s ease-in-out;
    /*background: radial-gradient(circle at .5em .5em, #5cabff, #000);*/
    background-image: url('/images/logo.png');
    background-size: cover;
    cursor: pointer;
}



.page-navigation-element .pne-bubble:hover {
    box-shadow: 0 0 2em black;
    transition: all .3s ease-in-out;
}

.page-navigation-element.active .pne-bubble {
    width: 4em;
    height: 4em;
    margin: 1em 2em;
    transition: all .3s ease-in-out;
}

.page-navigation-element .pne-title {
    opacity: 0;
    transition: all .3s ease-in-out;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bolder;
    font-size: 2em;
}
.page-navigation-element.active .pne-title {
    opacity: 100;
    transition: all .3s ease-in-out;
}

.page {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.shadow {
    box-shadow: 0 0 2em grey;
}

.title-data {
    color: grey;
    font-size: medium;
    font-style: italic;
}

.float-right {
    float: right;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.social a {
    text-decoration: none;
}

/* Items */

.item {
    border: 1px solid #a3a3a3;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 1em;
    margin: .5em 1em;
    box-shadow: 0 0 2em rgba(128, 128, 128, 0.32);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.item:hover {
    box-shadow: 0 0 2em rgba(128, 128, 128, 0.85);
    transition: all .3s ease-in-out;
}


/* Home page */

.page-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3em;
}

#page-home .photo {
    background: url('/images/me.jpg') no-repeat;
    background-size: cover;
    height: 20em;
    width: 20em;
    border: 0 solid black;
    border-radius: 10em;
    margin: 0 2em 0 0;
    float: left;
}

#page-home p {
    width: calc(75% - 22em);
    float: left;
}
