<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>Home | Stijn van Schooten | svanschooten.nl</title>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
<noscript>
    <strong>We're sorry but my website doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div style="
    z-index: 9999;
    position: absolute;
    background: orange;
    transform: rotate(-45deg);
    left: -5em;
    top: 5em;
    width: 20em;
    height: 2em;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    line-height: 2em;
">
    UNDER CONSTRUCTION
</div>
<div id="app">
    <div id="header" class="shadow">
        <div id="navigation">
            <div class="page-navigation-element active">
                <div class="pne-bubble"></div>
                <div class="pne-title">
                    Home
                </div>
            </div>
            <div class="page-navigation-element">
                <div class="pne-bubble"></div>
                <div class="pne-title">
                    Projects
                </div>
            </div>
            <div class="page-navigation-element">
                <div class="pne-bubble"></div>
                <div class="pne-title">
                    Blog
                </div>
            </div>
            <div class="page-navigation-element">
                <div class="pne-bubble"></div>
                <div class="pne-title">
                    Contact
                </div>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="page" id="page-home">
            <div class="shadow" id="page-home-photo"></div>
            <p>
                Hi! My name is Stijn van Schooten, and I am always thinking about tech!
                Having said that, I mostly work with software: designing the architecture, optimizing it, writing it and evaluating it.
                But I also love working with hardware, be it a mechanical or electrical something, I just love creating stuff.
            </p>
        </div>
        <div class="page" id="page-projects">
            <div v-for="project in projects">
                <h2>{{project.title}}</h2>
                <vue-markdown>{{ project.content }}</vue-markdown>
            </div>
        </div>
        <div class="page" id="page-blog">
            <div v-for="post in posts">
                <h2>{{post.title}}</h2>
                <vue-markdown>{{ post.content }}</vue-markdown>
            </div>
        </div>
        <div class="page" id="page-contact">
            <h1>Contact</h1>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<script src="js/vue-markdown.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-storage.js"></script>
<script type="application/javascript" src="js/util.js"></script>
<script type="application/javascript" src="js/index.js"></script>
</body>
</html>
