<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>Home | Stijn van Schooten | svanschooten.nl</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/github-markdown.css"/>
    <link rel="stylesheet" href="css/loader.css"/>
    <link rel="stylesheet" href="css/modal.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<noscript>
    <strong>We're sorry but my website doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="loader">
    <div class="outer-circle first">
        <div class="circle-1"></div>
    </div>
    <div class="outer-circle second">
        <div class="circle-2"></div>
    </div>
    <div class="outer-circle third">
        <div class="circle-3"></div>
    </div>
    <div class="outer-circle fourth">
        <div class="circle-4"></div>
    </div>
</div>
<div id="app">
    <div id="header" class="shadow">
        <div id="navigation">
            <div class="page-navigation-element active">
                <div class="pne-bubble"></div>
                <div class="pne-title">
                    Home
                </div>
            </div>
            <!--<div class="page-navigation-element">-->
                <!--<div class="pne-bubble"></div>-->
                <!--<div class="pne-title">-->
                    <!--Projects-->
                <!--</div>-->
            <!--</div>-->
            <div class="page-navigation-element">
                <div class="pne-bubble"></div>
                <div class="pne-title">
                    Blog
                </div>
            </div>
            <div class="page-navigation-element">
                <div class="pne-bubble"></div>
                <div class="pne-title">
                    Contact
                </div>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="page" id="page-home">
            <div class="page-content">
                <div class="shadow photo"></div>
                <p>
                    Hi! My name is Stijn van Schooten, and I am always thinking about tech!
                    Having said that, I mostly work with software: designing the architecture, optimizing it, writing it and evaluating it.
                    But I also love working with hardware, be it a mechanical or electrical something, I just love creating stuff.
                </p>
            </div>
        </div>
        <!--<div class="page" id="page-projects">-->
            <!--<div class="item"-->
                <!--v-for="project in projects"-->
                <!--v-on:mouseover="getVisibility(true)"-->
                <!--v-on:mouseleave="getVisibility(false)"-->
                <!--v-on:click="setModal(project)"-->
            <!--&gt;-->
                <!--<h2>{{ project.title }} <span class="title-data">{{ project.created_at }}</span> </h2>-->
                <!--<p>{{ project.short }}</p>-->
            <!--</div>-->
        <!--</div>-->
        <div class="page" id="page-blog">
            <div class="item"
                v-for="post in posts"
                v-on:mouseover="getVisibility(true)"
                v-on:mouseleave="getVisibility(false)"
                v-on:click="setModal(post)"
            >
                <h2>{{ post.title }} <span class="title-data">{{ post.data }}</span></h2>
                <p>{{ post.short }}</p>
            </div>
        </div>
        <div class="page" id="page-contact">
            <div class="page-content">
                <div class="social">
                    <a href="https://www.linkedin.com/in/svanschooten/" ><h1><i class="fab fa-linkedin-in"></i> Linkedin</h1></a>
                    <a href="https://github.com/svanschooten" ><h1><i class="fab fa-github"></i> Github</h1></a>
                    <a href="https://maketek.nl" ><h1><i class="far fa-paper-plane"></i> MakeTek</h1></a>
                    <a href="https://twitter.com/sschooten" ><h1><i class="fab fa-twitter"></i> Twitter</h1></a>
                    <a href="https://www.instagram.com/stijnvanschooten/" ><h1><i class="fab fa-instagram"></i> Instagram</h1></a>
                    <a href="https://www.facebook.com/svsoke" ><h1><i class="fab fa-facebook-f"></i> Facebook</h1></a>
                </div>
            </div>
        </div>
    </div>
    <div id="modal" v-bind:class="visibility" class="shadow">
        <div id="modal-controls" v-on:click="setModal(null)">
            <i class="fas fa-chevron-up"></i>
        </div>
        <div id="modal-content">
            <h1 class="modal-title">
                {{ modal ? modal.title : '' }}
                <span class="title-data float-right">{{ modal ? modal.data : '' }}</span>
            </h1>
            <vue-markdown v-bind:source="modal ? modal.content : ''" class="markdown-body"></vue-markdown>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<script src="js/vue-markdown.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-storage.js"></script>
<script type="application/javascript" src="js/util.js"></script>
<script type="application/javascript" src="js/index.js"></script>
</body>
</html>
