html, body, #app {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pane {
    width: auto;
    overflow: auto;
    padding: 2em;
}

.pane.controls {
    width: 25em;
    overflow: auto;
    padding: 2em;
}

.matrix {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.matrix-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 4em;
    margin: 3px;
}

.matrix-cell {
    border: 2px solid black;
    width: 4em;
    height: 4em;
    line-height: 2em;
    text-align: center;
    background: white;
    margin: 1px;
}

.currentLocal {
    background: lightcoral;
}

.currentGlobal {
    background: red;
}

.dip {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.matrix-cell .dip {
    position: relative;
    top: calc(-4em + 1px);
    left: 1px;
}

.legend {
    position: relative;
    top: 1em;
}

.localQueue {
    background: #07ee01;
}

.globalQueue {
    background: blue;
}

.bold {
    font-weight: bolder;
}

